h1{
	text-align: center;
	font-weight: 900;
	padding-top:75px;
}
body{
	background: url(../img/Parchment.jpg);
}
h2{
	text-align: center;
	font font-weight: 300;
	padding-top:100px;
	padding-left: 75px;
	padding-right:75px;
}
p{
	padding: 100px;
	font-weight: 200;
	text-align: center;
}
span{
	font-style:italic; 
}
img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
a{
	display: block;
	text-align: center;
	font-weight: 900;
	font-size: 40px;
	padding-bottom: 50px;
}